:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,187,2);
    --fondo: rgb(235,235,235);
    --main: rgb(252, 77, 40);
    --blanco: #fff;
    --negro: #000;
    --fuente-principal: 'Staatliches', cursive;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 10rem;
    display: flex;
    background: var(--main);
}
body {
    background: var(--fondo);
    font-size: 1.6rem;
    line-height: 1.5;
}
.footer {
    background: var(--main);
    margin-top: 2rem;
    width: 100%;
    position: fixed;
    bottom:0;
}

h1 {
    text-align: center;
    color: var(--negro );
    font-family: var(--fuente-principal);
    
}
h2 {
    text-align: center;
    color: var(--blanco );
    font-family: var(--fuente-principal);
    font-size: 2rem;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuente-principal);
    color: var(--negro);
}
img {
    width: 100%;
}
.centrado{
    justify-content:center;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* Barra de navegacion */
.ancho {
    width: 100%;
    margin: auto;
    height: 10rem;
    
}
.logo{
    width:30%;
    height: 10rem;
    float: left;
    display: flex;
    align-items: center;
    
}
.img-logo{
    width:5rem;
    height: 5rem;
}
.logo p a {
    color: var(--blanco);
    font-size: 5rem;
    text-decoration: none;
}
nav {
    width: 70%;
    height: 10rem;
    float: left;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    display: inline;
    padding-inline: 2rem;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    font-family:  var(--fuente-principal);
}
/* Productos */
.filtro {
    font-family: var(--fuente-principal);
    font-size: 2rem;
    font-weight: bold;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
.producto {
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1%;
    
}
.producto__nombre{
    font-size: 2.5rem;
}
.producto__precio{
    font-size: 1.5rem;
}
.producto__precio, .producto__nombre {
    font-family: var(--fuente-principal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/* Botones */
.columnas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--fuente-principal);
    color: var(--negro);
}
.boton {
    background-color: var(--secundario);
    border: none;
    padding: 1rem;
    transition: background-color .3s ease;
}
.boton:hover,
.boton-ancho:hover {
    cursor: pointer; /*cada vez que le das estilo a un submit pierde la manito
                        asi que hay que darle esta propiedad de nuevo*/
    background-color: var(--secundarioOscuro);
}


/* Detalle */
.padding-bottom {
    padding-bottom: 4rem
}
.columna1{
    width: 100%;
}
.nombre-producto{
    text-align:center;
    font-size:10rem;
}
.boton-ancho {
    background-color: var(--secundario);
    font-size: 2rem;
    font-family: var(--fuente-principal);
    padding: 1.5rem;
    transition: background-color .3s ease;
    grid-column: 1/3;
}
.grid-column1{
    grid-column:1;
}




.formulario__button {
    background-color: rgba(128, 128, 128, 0.45);
    border: double;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__button:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

/* Carrito */
.table {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 10% 20% 5%;
}
.titulo{
    text-align:left;
}
.sombra {
    margin-top:2rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: .5rem;
}
.subtitulo {
    font-family: var(--fuente-principal);
}
.boton__eliminar {
    background-color: var(--secundario);
    border-radius: 5%;
    padding: .5rem;
    transition: background-color .3s ease;
    border:none;
}

.boton__eliminar:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}
.derecha{
    margin-top: 2rem;
    text-align: end;
}
.Lblfiltro {
    text-align: right;
    color: var(--negro );
    font-family: var(--fuente-principal);
}

.BtnBuscar {
    background-color: var(--main);
    border: none;
    padding: 1rem;
    transition: background-color .3s ease;
    padding: 1rem;
    border-radius: 1%;
    color:var(--blanco);
    b
}
.BtnBuscar:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

